@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image:  url('./assets/img/bg.jpg');
  background-position: center;
  background-size:fill;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
  font-family: 'Roboto Slab', serif;
}